* {
  /* Styles applied to every element */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  background-color: #f2f2f2;
}
h5{
  font-weight: lighter;
  font-size: clamp(1.125rem, 2vw, 1.25rem);
}



.navigation-bar{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.div-nav-bar{
  width: 80%;
  max-width: 1250px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.navigation-links{
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  list-style-type: none;
}

.logo{
  width: 80px;
  height: 80px;
}

.hire-me-nav{
  background-color: rgb(247, 88, 88);
  padding: 15px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
}

.hire-me-nav:hover{
  background-color: rgb(251, 53, 53);
}

.Link{
  text-decoration: none;
  color: grey;
}


/* This is for the square which contains content */

.container{
  width: 100%;
  height: 625px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.service-container{
  width: 100%;
  height: 625px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.content{
  max-width: 1250px;
  width: 80%;
  height: 80vh;
  max-height: 625px;
  display: flex;
  justify-content: space-between;

}


.my-image{
  width: 400px;
  max-width: 600px;
  height: 80vh;
  max-height: 500px;
  border-radius: 5px;
}


.content-left{
  display: flex;
}

.social-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.social-link{
  margin-bottom: 30px;
  width: 30px;
  height: 30px;
}

.social-speach{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.space-bottom{
  margin-bottom: 40px;
}

.social-link:hover{
  color: rgb(251, 53, 53);
}

.learn-more{
  background-color: rgb(247, 88, 88);
  padding: 15px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  width: 100px;
}

.learn-more:hover{
  background-color: rgb(251, 53, 53);
}

.start-speach{
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.text-beneath{
  font-weight: lighter;
}

.color-container{
  background-color: rgb(255, 248, 248);
  height: 675px;

}

.content-second{
  width: 80%;
  height: 80vh;
  max-width: 1250px;
  display: flex;
  max-height: 625px;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.about-me-bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}
.about-me-container{
  width: 100%;
  height: 1250px;
  max-height: 1250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-img{
  width: 22%;
  height: 80%;
  border: 1px solid #ccc; /* Optional: You can have a border if needed */
  box-shadow: 20px 20px rgb(251, 53, 53); /* Adjust values as needed */
  border-radius: 10px;
  margin: 5px;

}

.about-me{
  margin-bottom: 100px ;
  display: flex;
  height: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}




.about-me-bottom-left{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 33%;
  
}

.about-me-bottom-middle{
  width: 33%;
  display: flex;
  align-items: center;
}


hr{
  background-color: rgb(251, 53, 53);
  width: 30%;
  height: 2px;
  margin-top: 10px;
}

.service-img{
  width: 100px;
}

.service{
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  height: 400px;
  max-height: 80%;
}

.service-bottom{
  display: flex;
  justify-content: space-between;
  
}

.about-bottom{
  display: flex;
  justify-content: space-between;
}

.about-bottom div{
  margin-left: 80px;
}

.social-links-about{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.about-middle{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-bottom-second{
  display: flex;
  margin-top: 100px;

}



.progress {
  background: rgba(255,255,255,0.1);
  border-radius: 100px;
  flex-direction: column;
  position: relative;
  height: 30px;
  width: 500px;
  background-color: grey;
  margin: 10px;
}

.progress-value {
  animation: load normal forwards;
  animation-duration: 10s;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: rgb(251, 53, 53);
  height: 20px;
  width: 100%;
  border: 3px solid black;
  display: flex;
  justify-content: space-between;
}

@keyframes load {
  from { width: 0; }
  to { width: 100%; }
}



.text-within{
  margin-left: 10px;
  color: white;
  font-weight: bold;
}

.about-bottom-second2{
  display: flex;
  flex-direction: column;
}


.about-bottom-second-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.main-footer{
  background-color: rgb(4, 0, 82);
  width: 100%;
  height: 150px;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.footer-content{
  width: 100%;
  max-width: 1250px; /* Optional: Limit max width for better readability */
  padding: 0 20px; /* Optional: Add padding to the sides */
  display: flex;
  justify-content: space-between; /* Space out the children evenly */
}
.social-link-bottom{
  width: 30px;
  height: 30px;
  color: white;
}

.footer-social-links{
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.footer-h2{
  color: white;
  margin-right: 10px;
}
.footer-content2{
  width: 100%;
  max-width: 1250px; /* Optional: Limit max width for better readability */
  padding: 0 20px; /* Optional: Add padding to the sides */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.second-footer{
  display: flex;
  align-items: center;
  justify-content: center;
}


small{
  font-weight: lighter;
}

.contact-top{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.contact-top div{
  background-color: white;
  padding: 10px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 10px 10px rgb(247, 88, 88);
  border: 1px solid grey;
  width: 30%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-contact{
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1250px;
  max-height: 620px;
}


.contact-bottom{
  margin-top: 90px;
  display: flex;
}

.contact-form{
  border: 2px solid   rgb(255, 142, 142);
  border-radius: 10px;
  box-shadow: 20px 20px rgb(251, 53, 53);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  width: 50%;
  padding: 10px;
}
.label{
  width: 100%;
  height: 30px;
}

.container-contact{
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  background-color: rgb(255, 248, 248);

}

#message{
  width: 100%;
  height: 200px;
  resize: vertical;
  resize: none;
}

.submit-button{

  background-color: rgb(247, 88, 88);
  padding: 15px;
  border-radius: 5px;
  color: white;
  width: 80%;
}

.contact-social{

  width: 40%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;

}

.message-me{
  width: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;




}

.message-me div{
  margin-left: 30px;
}

.social-links-contact{
  display: flex;
  margin-left: 30px;
}

.social-link-contact{
  margin-bottom: 30px;
  margin-right: 20px;
  width: 30px;
  height: 30px;
}

.social-link-contact:hover{
    color: rgb(251, 53, 53);;
}


.title{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-hr{
  background-color: rgb(251, 53, 53);
  width: 10%;
  height: 2px;
  margin-top: 10px;
}

.sub-container{
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

.sub-hr{
  width: 10%;
}

.sub-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
}

.sub-input{
  flex-grow: 1;
  height: 50%;
  padding: 5px;
}

.sub-bottom{
  width: 50%;
  height: 100px;
  display: flex;
}

.sub-btn{
  background-color: rgb(247, 88, 88);
  padding: 15px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  width: 100px;
  height: 64%;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;  
}



.white-container{
  background-color: white;
  display: flex;
  flex-direction: column;
}

.img-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1250px;

  height: 60%;
  width: 85%;
}

.img-logo{
  width: 200px;
  height: 150px;
  margin: 3px;
  border-radius: 10px;
  transition: 1s;
}
.img-logo:hover{
  box-shadow: 10px 10px black;
}
.column-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.YouTube{
    border: 2px solid black;
}

iframe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.education-left{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

}


.education-img{
  width: 100%;
  height: 250px;
  max-width: 500;
  max-height: 350;
  border-radius: 10px;
  max-width: 100%;
  max-height: 80%;
}

.kingston-div:hover{

  box-shadow: 10px 10px rgb(247, 88, 88); 
  border-radius: 10px;
}

.kingston-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  padding: 5px;
  max-width: 600px;
  text-decoration: none;
  color: black;
}






